h2, p
	&:not(:last-child)
		margin-bottom 20px

h2
	color primeBlue

p
	line-height 1.5
	font-size 1.1rem
	color #777

.button
	text-transform capitalize
	border 2px solid primeGrey
	border-radius 3px
	color primeGrey
	padding 10px 15px
	display inline-block
