h2, p
	&:not(:last-child)
		margin-bottom 20px

h2
	color primeBlue
	font-family gilSem
	letter-spacing 1px

h3
	color #aaa
	font-family gilLig
	font-size .75rem
	text-transform capitalize
	letter-spacing 1px

p
	line-height 1.5
	font-size 1.1rem
	color #777

.button
	text-transform capitalize
	border 2px solid primeGrey
	border-radius 5px
	color primeGrey
	padding 10px 15px
	display inline-block
	font-family gilSem
	letter-spacing .3px
	transition .3s all ease

	&:hover
		color primeGreen
		border-color primeGreen
