@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "base/reset.css"
@import "base/flexboxgrid.css"
@import "base/font.css"
@import "base/color"
@import "base/input"

graphBorderColor = #ddd
ballBase = 8px
headerHeight = 60px

// fonts
gil = "Gilroy"
gilReg = "Gilroy-Regular"
gilSem = "Gilroy-SemiBold"
gilLig = "Gilroy-Light"
gilExt = "Gilroy-ExtraBold"

// components
@import "components/text"
@import "components/chart1"
@import "components/chart2"
@import "components/chart3"

body
	font-size 16px
	font-family "Roboto", sans-serif
	padding-top headerHeight

header
	position fixed
	width 100%
	height headerHeight
	background primeGradient
	top 0
	z-index 99

@media (min-width: 1204px)
	.base-wrapper
		width 1204px
		margin 0 auto

@media (max-width: 1204px)
	.base-wrapper
		padding 0 30px

	.row
		> div:first-child
			margin-bottom 50px

section
	padding 100px 0

	&:not(:last-child)
		border-bottom 1px solid #eee

	.content-wrapper
		padding-right 50px
		font-family gilLig

	.row > div
		display flex

		> div
			align-self center
			width 100%

